/* Lato */
@font-face {
	font-family: 'LatoLight';
	font-style: normal;
	font-weight: normal;
	src: local('��');
	src: url(../font/lato-light-webfont.eot);
	src: url(../font/lato-light-webfont.woff) format('woff'), url(../font/lato-light-webfont.ttf) format('truetype');
}
@font-face {
	font-family: 'LatoLight';
	font-style: normal;
	font-weight: bold;
	src: local('��');
	src: url(../font/lato-regular-webfont.eot);
	src: url(../font/lato-regular-webfont.woff) format('woff'), url(../font/lato-regular-webfont.ttf) format('truetype');
}
@font-face {
	font-family: 'LatoRegular';
	font-style: normal;
	font-weight: normal;
	src: local('��');
	src: url(../font/lato-regular-webfont.eot);
	src: url(../font/lato-regular-webfont.woff) format('woff'), url(../font/lato-regular-webfont.ttf) format('truetype');
}
@font-face {
	font-family: 'LatoRegular';
	font-style: normal;
	font-weight: bold;
	src: local('��');
	src: url(../font/lato-bold-webfont.eot);
	src: url(../font/lato-bold-webfont.woff) format('woff'), url(../font/lato-bold-webfont.ttf) format('truetype');
}
@font-face {
	font-family: 'LatoBold';
	font-style: normal;
	font-weight: normal;
	src: local('��');
	src: url(../font/lato-bold-webfont.eot);
	src: url(../font/lato-bold-webfont.woff) format('woff'), url(../font/lato-bold-webfont.ttf) format('truetype');
}
@font-face {
	font-family: 'LatoBold';
	font-style: normal;
	font-weight: bold;
	src: local('��');
	src: url(../font/lato-heavy-webfont.eot);
	src: url(../font/lato-heavy-webfont.woff) format('woff'), url(../font/lato-heavy-webfont.ttf) format('truetype');
}


/* Nanum */
@font-face {
	font-family: 'NanumGothic';
	font-style: normal;
	font-weight: normal;
	src: local('��');
	src: url(../font/NanumGothic-webfont.eot);
	src: url(../font/NanumGothic-webfont.woff) format('woff'), url(../font/NanumGothic-webfont.ttf) format('truetype');
}

@font-face {
	font-family: 'NanumGothic';
	font-style: normal;
	font-weight: bold;
	src: local('��');
	src: url(../font/NanumGothicBold-webfont.eot);
	src: url(../font/NanumGothicBold-webfont.woff) format('woff'), url(../font/NanumGothicBold-webfont.ttf) format('truetype');
}

@font-face {
	font-family: 'NanumGothicBold';
	font-style: normal;
	font-weight: normal;
	src: local('��');
	src: url(../font/NanumGothicBold-webfont.eot);
	src: url(../font/NanumGothicBold-webfont.woff) format('woff'), url(../font/NanumGothicBold-webfont.ttf) format('truetype');
}
@font-face {
	font-family: 'NanumGothicBold';
	font-style: normal;
	font-weight: bold;
	src: local('��');
	src: url(../font/NanumGothicExtraBold-webfont.eot);
	src: url(../font/NanumGothicExtraBold-webfont.woff) format('woff'), url(../font/NanumGothicExtraBold-webfont.ttf) format('truetype');
}

@font-face {
	font-family: 'NanumBarunGothic';
	font-style: normal;
	font-weight: normal;
	src: local('��');
	src: url(../font/NanumBarunGothic-webfont.eot);
	src: url(../font/NanumBarunGothic-webfont.woff) format('woff'), url(../font/NanumBarunGothic-webfont.ttf) format('truetype');
}
@font-face {
	font-family: 'NanumBarunGothic';
	font-style: normal;
	font-weight: bold;
	src: local('��');
	src: url(../font/NanumBarunGothicBold-webfont.eot);
	src: url(../font/NanumBarunGothicBold-webfont.woff) format('woff'), url(../font/NanumBarunGothicBold-webfont.ttf) format('truetype');
}
@font-face {
	font-family: 'NanumBarunGothicBold';
	font-style: normal;
	font-weight: normal;
	src: local('��');
	src: url(../font/NanumBarunGothicBold-webfont.eot);
	src: url(../font/NanumBarunGothicBold-webfont.woff) format('woff'), url(../font/NanumBarunGothicBold-webfont.ttf) format('truetype');
}
@font-face {
	font-family: 'NanumBarunGothicBold';
	font-style: normal;
	font-weight: bold;
	src: local('��');
	src: url(../font/NanumBarunGothicBold-webfont.eot);
	src: url(../font/NanumBarunGothicBold-webfont.woff) format('woff'), url(../font/NanumBarunGothicBold-webfont.ttf) format('truetype');
}
@font-face {
	font-family: 'NanumMyeongjo';
	font-style: normal;
	font-weight: normal;
	src: local('��');
	src: url(../font/NanumMyeongjo-webfont.eot);
	src: url(../font/NanumMyeongjo-webfont.woff) format('woff'), url(../font/NanumMyeongjo-webfont.ttf) format('truetype');
}
@font-face {
	font-family: 'NanumMyeongjo';
	font-style: normal;
	font-weight: bold;
	src: local('��');
	src: url(../font/NanumMyeongjoBold-webfont.eot);
	src: url(../font/NanumMyeongjoBold-webfont.woff) format('woff'), url(../font/NanumMyeongjoBold-webfont.ttf) format('truetype');
}
@font-face {
	font-family: 'NanumMyeongjoBold';
	font-style: normal;
	font-weight: normal;
	src: local('��');
	src: url(../font/NanumMyeongjoBold-webfont.eot);
	src: url(../font/NanumMyeongjoBold-webfont.woff) format('woff'), url(../font/NanumMyeongjoBold-webfont.ttf) format('truetype');
}
@font-face {
	font-family: 'NanumMyeongjoBold';
	font-style: normal;
	font-weight: bold;
	src: local('��');
	src: url(../font/NanumMyeongjoExtraBold-webfont.eot);
	src: url(../font/NanumMyeongjoExtraBold-webfont.woff) format('woff'), url(../font/NanumMyeongjoExtraBold-webfont.ttf) format('truetype');
}

/* PT Sans */
@font-face {
	font-family: 'PTSansRegular';
	font-style: normal;
	font-weight: normal;
	src: local('��');
	src: url(../font/ptc55f_w-webfont.eot);
	src: url(../font/ptc55f_w-webfont.woff) format('woff'), url(../font/ptc55f_w-webfont.ttf) format('truetype');
}
@font-face {
	font-family: 'PTSansRegular';
	font-style: normal;
	font-weight: bold;
	src: local('��');
	src: url(../font/ptc75f_w-webfont.eot);
	src: url(../font/ptc75f_w-webfont.woff) format('woff'), url(../font/ptc75f_w-webfont.ttf) format('truetype');
}
@font-face {
	font-family: 'PTSansBold';
	font-style: normal;
	font-weight: normal;
	src: local('��');
	src: url(../font/ptc75f_w-webfont.eot);
	src: url(../font/ptc75f_w-webfont.woff) format('woff'), url(../font/ptc75f_w-webfont.ttf) format('truetype');
}
@font-face {
	font-family: 'PTSansBold';
	font-style: normal;
	font-weight: bold;
	src: local('��');
	src: url(../font/ptc75f_w-webfont.eot);
	src: url(../font/ptc75f_w-webfont.woff) format('woff'), url(../font/ptc75f_w-webfont.ttf) format('truetype');
}

/* PT Serif */
@font-face {
	font-family: 'PTSerifRegular';
	font-style: normal;
	font-weight: normal;
	src: local('��');
	src: url(../font/ptf55f-webfont.eot);
	src: url(../font/ptf55f-webfont.woff) format('woff'), url(../font/ptf55f-webfont.ttf) format('truetype');
}
@font-face {
	font-family: 'PTSerifRegular';
	font-style: normal;
	font-weight: bold;
	src: local('��');
	src: url(../font/ptf75f-webfont.eot);
	src: url(../font/ptf75f-webfont.woff) format('woff'), url(../font/ptf75f-webfont.ttf) format('truetype');
}
@font-face {
	font-family: 'PTSerifBold';
	font-style: normal;
	font-weight: normal;
	src: local('��');
	src: url(../font/ptf75f-webfont.eot);
	src: url(../font/ptf75f-webfont.woff) format('woff'), url(../font/ptf75f-webfont.ttf) format('truetype');
}
@font-face {
	font-family: 'PTSerifBold';
	font-style: normal;
	font-weight: bold;
	src: local('��');
	src: url(../font/ptf75f-webfont.eot);
	src: url(../font/ptf75f-webfont.woff) format('woff'), url(../font/ptf75f-webfont.ttf) format('truetype');
}

/* League */
@font-face {
    font-family: 'LeagueGothic';
	font-style: normal;
	font-weight: normal;
	src: local('��');
	src: url(../font/leaguegothic-regular-webfont.eot);
	src: url(../font/leaguegothic-regular-webfont.woff) format('woff'), url(../font/leaguegothic-regular-webfont.ttf) format('truetype');
}
@font-face {
    font-family: 'LeagueGothicCondensed';
	font-style: normal;
	font-weight: normal;
	src: local('��');
	src: url(../font/leaguegothic-condensed-regular-webfont.eot);
	src: url(../font/leaguegothic-condensed-regular-webfont.woff) format('woff'), url(../font/leaguegothic-condensed-regular-webfont.ttf) format('truetype');
}
@font-face {
    font-family: 'LeagueScriptNumberOne';
	font-style: normal;
	font-weight: normal;
	src: local('��');
	src: url(../font/LeagueScript-webfont.eot);
	src: url(../font/LeagueScript-webfont.woff) format('woff'), url(../font/LeagueScript-webfont.otf) format('truetype');
}

/* Dosis */
@font-face {
    font-family: 'DosisRegular';
	font-style: normal;
	font-weight: normal;
	src: local('��');
	src: url(../font/dosis-regular-webfont.eot);
	src: url(../font/dosis-regular-webfont.woff) format('woff'), url(../font/dosis-regular-webfont.ttf) format('truetype');
}
@font-face {
    font-family: 'DosisRegular';
	font-style: normal;
	font-weight: bold;
	src: local('��');
	src: url(../font/dosis-bold-webfont.eot);
	src: url(../font/dosis-bold-webfont.woff) format('woff'), url(../font/dosis-bold-webfont.ttf) format('truetype');
}
@font-face {
    font-family: 'DosisBold';
	font-style: normal;
	font-weight: normal;
	src: local('��');
	src: url(../font/dosis-bold-webfont.eot);
	src: url(../font/dosis-bold-webfont.woff) format('woff'), url(../font/dosis-bold-webfont.ttf) format('truetype');
}
@font-face {
    font-family: 'DosisBold';
	font-style: normal;
	font-weight: bold;
	src: local('��');
	src: url(../font/Dosis-ExtraBold-webfont.eot);
	src: url(../font/Dosis-ExtraBold-webfont.woff) format('woff'), url(../font/Dosis-ExtraBold-webfont.ttf) format('truetype');
}


/* comfortaa */
@font-face {
    font-family: 'Comfortaa-Regular';
	font-style: normal;
	font-weight: normal;
	src: local('��');
	src: url(../font/comfortaa-regular-webfont.eot);
	src: url(../font/comfortaa-regular-webfont.woff) format('woff'), url(../font/comfortaa-regular-webfont.ttf) format('truetype');
}
@font-face {
    font-family: 'Comfortaa-Regular';
	font-style: normal;
	font-weight: bold;
	src: local('��');
	src: url(../font/comfortaa-bold-webfont.eot);
	src: url(../font/comfortaa-bold-webfont.woff) format('woff'), url(../font/comfortaa-bold-webfont.ttf) format('truetype');
}
@font-face {
    font-family: 'Comfortaa-Bold';
	font-style: normal;
	font-weight: normal;
	src: local('��');
	src: url(../font/comfortaa-bold-webfont.eot);
	src: url(../font/comfortaa-bold-webfont.woff) format('woff'), url(../font/comfortaa-bold-webfont.ttf) format('truetype');
}
@font-face {
    font-family: 'Comfortaa-Bold';
	font-style: normal;
	font-weight: bold;
	src: local('��');
	src: url(../font/comfortaa-bold-webfont.eot);
	src: url(../font/comfortaa-bold-webfont.woff) format('woff'), url(../font/comfortaa-bold-webfont.ttf) format('truetype');
}

/* noto sans */
@font-face {
    font-family: 'Noto Sans Korean Light';
	font-style: normal;
	font-weight: normal;
	src: local('��');
	src: url(../font/NotoSansCJKkr-Light-webfontt.eot);
	src: url(../font/NotoSansCJKkr-Light-webfontt.woff) format('woff'), url(../font/NotoSansCJKkr-Light-webfontt.otf) format('opentype');
}
@font-face {
    font-family: 'Noto Sans Korean Light';
	font-style: normal;
	font-weight: bold;
	src: local('��');
	src: url(../font/NotoSansCJKkr-Regular-webfontt.eot);
	src: url(../font/NotoSansCJKkr-Regular-webfontt.woff) format('woff'), url(../font/NotoSansCJKkr-Regular-webfontt.otf) format('opentype');
}
@font-face {
    font-family: 'Noto Sans Korean Regular';
	font-style: normal;
	font-weight: normal;
	src: local('��');
	src: url(../font/NotoSansCJKkr-Regular-webfontt.eot);
	src: url(../font/NotoSansCJKkr-Regular-webfontt.woff) format('woff'), url(../font/NotoSansCJKkr-Regular-webfontt.otf) format('opentype');
}
@font-face {
    font-family: 'Noto Sans Korean Regular';
	font-style: normal;
	font-weight: bold;
	src: local('��');
	src: url(../font/NotoSansCJKkr-Bold-webfontt.eot);
	src: url(../font/NotoSansCJKkr-Bold-webfontt.woff) format('woff'), url(../font/NotoSansCJKkr-Bold-webfontt.otf) format('opentype');
}
@font-face {
    font-family: 'Noto Sans Korean Bold';
	font-style: normal;
	font-weight: normal;
	src: local('��');
	src: url(../font/NotoSansCJKkr-Bold-webfontt.eot);
	src: url(../font/NotoSansCJKkr-Bold-webfontt.woff) format('woff'), url(../font/NotoSansCJKkr-Bold-webfontt.otf) format('opentype');
}
@font-face {
    font-family: 'Noto Sans Korean Bold';
	font-style: normal;
	font-weight: bold;
	src: local('��');
	src: url(../font/NotoSansCJKkr-Black-webfontt.eot);
	src: url(../font/NotoSansCJKkr-Black-webfontt.woff) format('woff'), url(../font/NotoSansCJKkr-Black-webfontt.otf) format('opentype');
}

/* fanwood */
@font-face {
    font-family: 'fanwood';
	font-style: normal;
	font-weight: normal;
	src: local('��');
	src: url(../font/fanwood-webfont.eot);
	src: url(../font/fanwood-webfont.woff) format('woff'), url(../font/fanwood-webfont.ttf) format('opentype');
}
@font-face {
    font-family: 'fanwood';
	font-style: italic;
	font-weight: normal;
	src: local('��');
	src: url(../font/fanwood_italic-webfont.eot);
	src: url(../font/fanwood_italic-webfont.woff) format('woff'), url(../font/fanwood_italic-webfont.ttf) format('opentype');
}
@font-face {
    font-family: 'fanwood_italic';
	font-style: normal;
	font-weight: normal;
	src: local('��');
	src: url(../font/fanwood_italic-webfont.eot);
	src: url(../font/fanwood_italic-webfont.woff) format('woff'), url(../font/fanwood_italic-webfont.ttf) format('opentype');
}
@font-face {
    font-family: 'fanwood_italic';
	font-style: italic;
	font-weight: normal;
	src: local('��');
	src: url(../font/fanwood_italic-webfont.eot);
	src: url(../font/fanwood_italic-webfont.woff) format('woff'), url(../font/fanwood_italic-webfont.ttf) format('opentype');
}
@font-face {
    font-family: 'fanwood-text';
	font-style: normal;
	font-weight: normal;
	src: local('��');
	src: url(../font/fanwood_text-webfont.eot);
	src: url(../font/fanwood_text-webfont.woff) format('woff'), url(../font/fanwood_text-webfont.ttf) format('opentype');
}
@font-face {
    font-family: 'fanwood-text';
	font-style: italic;
	font-weight: normal;
	src: local('��');
	src: url(../font/fanwood_text_italic-webfont.eot);
	src: url(../font/fanwood_text_italic-webfont.woff) format('woff'), url(../font/fanwood_text_italic-webfont.ttf) format('opentype');
}
@font-face {
    font-family: 'fanwood_text_italic';
	font-style: normal;
	font-weight: normal;
	src: local('��');
	src: url(../font/fanwood_text-webfont.eot);
	src: url(../font/fanwood_text-webfont.woff) format('woff'), url(../font/fanwood_text-webfont.ttf) format('opentype');
}
@font-face {
    font-family: 'fanwood_text_italic';
	font-style: italic;
	font-weight: normal;
	src: local('��');
	src: url(../font/fanwood_text_italic-webfont.eot);
	src: url(../font/fanwood_text_italic-webfont.woff) format('woff'), url(../font/fanwood_text_italic-webfont.ttf) format('opentype');
}

/* raleway */
@font-face {
    font-family: 'Raleway-Thin';
	font-style: normal;
	font-weight: normal;
	src: local('��');
	src: url(../font/Raleway-Thin-webfont.eot);
	src: url(../font/Raleway-Thin-webfont.woff) format('woff'), url(../font/Raleway-Thin-webfont.ttf) format('opentype');
}
@font-face {
    font-family: 'Raleway-Thin';
	font-style: normal;
	font-weight: bold;
	src: local('��');
	src: url(../font/Raleway-Regular-webfont.eot);
	src: url(../font/Raleway-Regular-webfont.woff) format('woff'), url(../font/Raleway-Regular-webfont.ttf) format('opentype');
}
@font-face {
    font-family: 'Raleway-Regular';
	font-style: normal;
	font-weight: normal;
	src: local('��');
	src: url(../font/Raleway-Regular-webfont.eot);
	src: url(../font/Raleway-Regular-webfont.woff) format('woff'), url(../font/Raleway-Regular-webfont.ttf) format('opentype');
}
@font-face {
    font-family: 'Raleway-Regular';
	font-style: normal;
	font-weight: bold;
	src: local('��');
	src: url(../font/Raleway-Bold-webfont.eot);
	src: url(../font/Raleway-Bold-webfont.woff) format('woff'), url(../font/Raleway-Bold-webfont.ttf) format('opentype');
}
@font-face {
    font-family: 'Raleway-Bold';
	font-style: normal;
	font-weight: normal;
	src: local('��');
	src: url(../font/Raleway-Bold-webfont.eot);
	src: url(../font/Raleway-Bold-webfont.woff) format('woff'), url(../font/Raleway-Bold-webfont.ttf) format('opentype');
}
@font-face {
    font-family: 'Raleway-Bold';
	font-style: normal;
	font-weight: bold;
	src: local('��');
	src: url(../font/Raleway-ExtraBold-webfont.eot);
	src: url(../font/Raleway-ExtraBold-webfont.woff) format('woff'), url(../font/Raleway-ExtraBold-webfont.ttf) format('opentype');
}

/* sniglet */
@font-face {
    font-family: 'Sniglet';
	font-style: normal;
	font-weight: normal;
	src: local('��');
	src: url(../font/sniglet-webfont.eot);
	src: url(../font/sniglet-webfont.woff) format('woff'), url(../font/sniglet-webfont.ttf) format('opentype');
}

/* sortsmillgoudy */
@font-face {
    font-family: 'goudyStM';
	font-style: normal;
	font-weight: normal;
	src: local('��');
	src: url(../font/sortsmillgoudy/GoudyStM-webfont.eot);
	src: url(../font/sortsmillgoudy/GoudyStM-webfont.woff) format('woff'), url(../font/sortsmillgoudy/GoudyStM-webfont.ttf) format('opentype');
}
@font-face {
    font-family: 'goudyStM';
	font-style: italic;
	font-weight: normal;
	src: local('��');
	src: url(../font/sortsmillgoudy/GoudyStM-Italic-webfont.eot);
	src: url(../font/sortsmillgoudy/GoudyStM-Italic-webfont.woff) format('woff'), url(../font/sortsmillgoudy/GoudyStM-Italic-webfont.ttf) format('opentype');
}
@font-face {
    font-family: 'goudyStM-Italic';
	font-style: normal;
	font-weight: normal;
	src: local('��');
	src: url(../font/sortsmillgoudy/GoudyStM-Italic-webfont.eot);
	src: url(../font/sortsmillgoudy/GoudyStM-Italic-webfont.woff) format('woff'), url(../font/sortsmillgoudy/GoudyStM-Italic-webfont.ttf) format('opentype');
}
@font-face {
    font-family: 'goudyStM-Italic';
	font-style: italic;
	font-weight: normal;
	src: local('��');
	src: url(../font/sortsmillgoudy/GoudyStM-Italic-webfont.eot);
	src: url(../font/sortsmillgoudy/GoudyStM-Italic-webfont.woff) format('woff'), url(../font/sortsmillgoudy/GoudyStM-Italic-webfont.ttf) format('opentype');
}
